.popup-background{
    z-index:999;
    display:none;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    background-color:rgba(0, 0, 0, 0.467);
}
.active{
    display:flex;
}
.popup-container{
    display:flex;   
    align-items: center;
    padding-inline:3%;
    background:var(--background-color);
    height:70%;
    width:64%;
    border-radius:5px;
    position:relative;
    box-shadow:inset 0px 0px 15px rgb(0,0,0), 0px 0px 15px rgba(192, 192, 192, 0.545);
}
.popup-container h3{
    color:var(--dark-blue);
    background-color: var(--background-color);
    position:absolute;
    top:3%;
    right:2%;
    font-size:x-large;
    font-weight:lighter;
    cursor:pointer;
    font-family: monospace;
    padding-inline:7px;
    padding-bottom:3px;
    border-radius:50px;  
    box-shadow:0px 0px 5px rgb(0,0,0), inset 0px 0px 0px black;
}
.popup-container h3:hover{
    color:var(--mid-green);
    background-color:var(--background-color);
    box-shadow:0px 0px 0px black, inset 0px 0px 4px rgb(0,0,0);
    transition:color 0.3s ease-in, background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}