:root{
    --dark-blue: #07142B;
    --mid-blue: #173C4C;
    --mid-green: #469c9a;
    --light-green: #BDD1BD;
}
*{
    margin:0;
    padding:0;
    color:var(--light-green);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.main-container{
    background:var(--dark-blue);
    min-height:100vh;
}