:root{
    --background-color: #07142B;
    --mid-blue: #173C4C;
    --mid-green: #469c9a;
    --text-color: #BDD1BD;
}
*{
    margin:0;
    padding:0;
    color:var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.main-container{
    background-color:var(--background-color);
    min-height:100vh;
    transition:background-color 0.2s ease-in;
}
.sort-array{
    position:relative;
    min-height:90vh;
    display:flex;
    font-size:small;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: flex-end;
    line-height:100%;
}
.array-item{
    background: var(--mid-green);
    display:flex;
    border-radius: 25px 25px 0px 0px;
    transition:height 0.1s ease-in;
}
.disabled{
    pointer-events: none;
}